<div class="container-fluid">
    <!-- <h1>hello</h1> -->
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Image</th>
                <th scope="col">Price</th>
                <th scope="col">Detail</th>
                <th scope="col">Form</th>
            </tr>
        </thead>
        <tbody class="app_admin">
            <!-- <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>ahsudihalsfkhoiashdfu;nádkfnaosdhfnasdfnlkasdnflknasdsa <br>
                    áihfjsajkfajsdflkasd
                </td>
                <td style="font-weight: 20%;">
                    <button type="button" class="btn btn-outline-danger">Danger</button>
                    <button type="button" class="btn btn-outline-warning">Warning</button>
                </td>
            </tr> -->

        </tbody>
    </table>
</div>